In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset/Pakistan Largest Ecommerce Dataset.csv', low_memory=False)
df.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,7/1/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016,7,Jul-16,7-2016,FY17,1.0
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016,7,Jul-16,7-2016,FY17,2.0
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016,7,Jul-16,7-2016,FY17,3.0
3,211135,complete,7/1/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016,7,Jul-16,7-2016,FY17,4.0
4,211136,order_refunded,7/1/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016,7,Jul-16,7-2016,FY17,5.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584524 entries, 0 to 584523
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  int64
 1   status                 584509 non-null  object
 2   created_at             584524 non-null  object
 3   sku                    584504 non-null  object
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  int64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  object
 9   sales_commission_code  447349 non-null  object
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  object
 12  Working Date           584524 non-null  object
 13  BI Status              584524 non-null  object
 14   MV                    584524 non-null  object
 15  Year                   584524 non-null  int64
 16  Month                  584524 non-null  int64
 17  Customer Since         584513 non-null  object
 18  M-Y                    584524 non-null  object
 19  FY                     584524 non-null  object
 20  Customer ID            584513 non-null  float64
dtypes: float64(4), int64(4), object(13)
memory usage: 93.7+ MB

In [4]:
df.columns

Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1',
       'sales_commission_code', 'discount_amount', 'payment_method',
       'Working Date', 'BI Status', ' MV ', 'Year', 'Month', 'Customer Since',
       'M-Y', 'FY', 'Customer ID'],
      dtype='object')

In [5]:
print(df['M-Y'].unique())
print(df['Customer Since'].unique())

['7-2016' '8-2016' '9-2016' '10-2016' '11-2016' '12-2016' '1-2017'
 '2-2017' '3-2017' '4-2017' '5-2017' '6-2017' '7-2017' '8-2017' '9-2017'
 '10-2017' '11-2017' '12-2017' '2-2018' '1-2018' '3-2018' '4-2018'
 '5-2018' '6-2018' '7-2018' '8-2018']
['Jul-16' 'Aug-16' 'Sep-16' 'Oct-16' 'Nov-16' 'Dec-16' 'Jan-17' 'Feb-17'
 'Mar-17' 'Apr-17' 'May-17' 'Jun-17' 'Jul-17' 'Aug-17' 'Sep-17' 'Oct-17'
 'Nov-17' 'Dec-17' 'Jan-18' nan 'Feb-18' 'Mar-18' 'Apr-18' 'May-18'
 'Jun-18' 'Jul-18' 'Aug-18']

In [6]:
df.isna().sum()

item_id                       0
status                       15
created_at                    0
sku                          20
price                         0
qty_ordered                   0
grand_total                   0
increment_id                  0
category_name_1             164
sales_commission_code    137175
discount_amount               0
payment_method                0
Working Date                  0
BI Status                     0
 MV                           0
Year                          0
Month                         0
Customer Since               11
M-Y                           0
FY                            0
Customer ID                  11
dtype: int64

In [7]:
df[df['Customer Since'].isnull()]

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
427377,726862,order_refunded,1/5/2018,BAGLOR5A12C5C756AE5,209.0,1,1074.0,100443451,Beauty & Grooming,NaN,...,cod,1/5/2018,Valid,209,2018,1,NaN,1-2018,FY18,NaN
427378,726863,order_refunded,1/5/2018,WOFGUL59C24CC9BE5D9,720.0,1,1074.0,100443451,Women's Fashion,NaN,...,cod,1/5/2018,Valid,720,2018,1,NaN,1-2018,FY18,NaN
427379,726864,order_refunded,1/5/2018,BAGNAD59E0AAC250E6D,145.0,1,1074.0,100443451,Beauty & Grooming,NaN,...,cod,1/5/2018,Valid,145,2018,1,NaN,1-2018,FY18,NaN
437567,738191,order_refunded,1/31/2018,MEFMUN5A0ACC3A894BE-9,999.0,1,1149.0,100449683,Men's Fashion,NaN,...,cod,1/31/2018,Valid,999,2018,1,NaN,1-2018,FY18,NaN
478699,784981,received,3/15/2018,OTHPCB5A7D8A0DA56C6,8000.0,2,16000.0,100480546,Others,NaN,...,Payaxis,3/15/2018,Valid,"16,000",2018,3,NaN,3-2018,FY18,NaN
478779,785061,canceled,3/15/2018,OTHPCB5A7D8A0DA56C6,8000.0,2,16000.0,100480623,Others,NaN,...,Easypay_MA,3/15/2018,Gross,"16,000",2018,3,NaN,3-2018,FY18,NaN
494278,804621,canceled,3/27/2018,OTHPCB5AB351ED6A8F2,5000.0,2,10000.0,100496269,Others,NaN,...,Easypay,3/27/2018,Gross,"10,000",2018,3,NaN,3-2018,FY18,NaN
495340,805750,canceled,3/27/2018,OTHPCB5AB351ECC7118,500.0,2,1000.0,100497359,Others,NaN,...,Easypay,3/27/2018,Gross,"1,000",2018,3,NaN,3-2018,FY18,NaN
495945,807010,canceled,3/27/2018,OTHPCB5AB351EEC46EC,500.0,4,2000.0,100498582,Others,NaN,...,Easypay,3/27/2018,Gross,"2,000",2018,3,NaN,3-2018,FY18,NaN
496921,808287,order_refunded,3/27/2018,MEFKAR5A7C138CE9EBD-L,1040.0,1,1040.0,100499821,Men's Fashion,NaN,...,cod,3/27/2018,Valid,"1,040",2018,3,NaN,3-2018,FY18,NaN
502446,814174,canceled,3/28/2018,OTHPCB5ABB207673754,2000.0,5,10000.0,100505460,Others,NaN,...,Easypay,3/28/2018,Gross,"10,000",2018,3,NaN,3-2018,FY18,NaN

In [8]:
df.drop(['increment_id','Year','Month','sales_commission_code','BI Status'], axis=1, inplace=True)
df.columns

Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'category_name_1', 'discount_amount', 'payment_method',
       'Working Date', ' MV ', 'Customer Since', 'M-Y', 'FY', 'Customer ID'],
      dtype='object')

In [9]:
df.rename(columns={'category_name_1': 'category', 'Working Date': 'working_date', 
                   ' MV ': 'market_value', 'FY' : 'fiscal_year','M-Y': 'M_Y','Customer ID' : 'customer_id'}, inplace=True)
df.columns

Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'category', 'discount_amount', 'payment_method',
       'working_date', 'market_value', 'Customer Since', 'M_Y', 'fiscal_year',
       'customer_id'],
      dtype='object')

In [10]:
from datetime import datetime 
#convert working date to datetime
df.working_date= df.working_date.apply( lambda x: datetime.strptime(x, '%m/%d/%Y'))
#convert created at to datetime
df.created_at= df.created_at.apply( lambda x: datetime.strptime(x, '%m/%d/%Y'))
#compare duration to check for duplicated columns
duration = df.working_date - df.created_at
duration.unique()

array([0], dtype='timedelta64[ns]')

In [11]:
#convert M-Y to datetime
df['M_Y'] = df['M_Y'].apply( lambda x: datetime.strptime(x, '%m-%Y'))

In [12]:
df.drop('created_at', axis=1, inplace=True)
df.columns

Index(['item_id', 'status', 'sku', 'price', 'qty_ordered', 'grand_total',
       'category', 'discount_amount', 'payment_method', 'working_date',
       'market_value', 'Customer Since', 'M_Y', 'fiscal_year', 'customer_id'],
      dtype='object')

In [13]:
df.isna().sum()

item_id              0
status              15
sku                 20
price                0
qty_ordered          0
grand_total          0
category           164
discount_amount      0
payment_method       0
working_date         0
market_value         0
Customer Since      11
M_Y                  0
fiscal_year          0
customer_id         11
dtype: int64

In [14]:
skus=df[df.category.isnull()].sku.unique()
for i in skus:
    print(df[df.sku==i])

        item_id          status                    sku  price  qty_ordered  \
304158   582195        canceled  MEFQMO59B0942707B79-L  100.0            1
407425   703615  order_refunded  MEFQMO59B0942707B79-L   99.0            2
422961   721921  order_refunded  MEFQMO59B0942707B79-L   99.0            1
422965   721926  order_refunded  MEFQMO59B0942707B79-L   99.0            2
423231   722242             cod  MEFQMO59B0942707B79-L   99.0            1
423830   722920        received  MEFQMO59B0942707B79-L   99.0            2
425895   725194  order_refunded  MEFQMO59B0942707B79-L   99.0            2

        grand_total category  discount_amount payment_method working_date  \
304158        250.0       \N              0.0            cod   2017-09-19
407425        348.0       \N              0.0            cod   2017-11-29
422961        249.0       \N              0.0            cod   2017-12-26
422965        348.0       \N              0.0            cod   2017-12-26
423231        249.0       \N              0.0            cod   2017-12-27
423830        348.0       \N              0.0            cod   2017-12-29
425895          2.0      NaN            346.0        Easypay   2018-01-02

       market_value Customer Since        M_Y fiscal_year  customer_id
304158          100         Mar-17 2017-09-01        FY18      39715.0
407425          198         Mar-17 2017-11-01        FY18      39715.0
422961           99         Aug-17 2017-12-01        FY18      59587.0
422965          198         Aug-17 2017-12-01        FY18      59587.0
423231           99         Nov-17 2017-12-01        FY18      66884.0
423830          198         Aug-17 2017-12-01        FY18      59587.0
425895          198         Aug-17 2018-01-01        FY18      59587.0
        item_id          status                    sku  price  qty_ordered  \
307921   586595        canceled  MEFQMO59B0942707B79-M  100.0            1
327510   608035  order_refunded  MEFQMO59B0942707B79-M   99.0            1
421428   720229  order_refunded  MEFQMO59B0942707B79-M   99.0            1
431194   731122        received  MEFQMO59B0942707B79-M   99.0            1
432492   732569        canceled  MEFQMO59B0942707B79-M   99.0            1
...         ...             ...                    ...    ...          ...
516362   830144        canceled  MEFQMO59B0942707B79-M   99.0            2
516363   830146        canceled  MEFQMO59B0942707B79-M   99.0            2
516364   830148        canceled  MEFQMO59B0942707B79-M   99.0            2
516365   830150        canceled  MEFQMO59B0942707B79-M   99.0            2
549314   865823        canceled  MEFQMO59B0942707B79-M   99.0            1

        grand_total category  discount_amount payment_method working_date  \
307921        250.0       \N              0.0            cod   2017-10-02
327510        249.0       \N              0.0            cod   2017-11-06
421428       1075.0       \N              0.0            cod   2017-12-22
431194        249.0      NaN              0.0            cod   2018-01-15
432492        249.0      NaN              0.0    bankalfalah   2018-01-19
...             ...      ...              ...            ...          ...
516362        150.0      NaN            198.0            cod   2018-04-23
516363        150.0      NaN            198.0            cod   2018-04-23
516364        150.0      NaN            198.0            cod   2018-04-23
516365        150.0      NaN            198.0            cod   2018-04-23
549314        249.0      NaN              0.0        Easypay   2018-06-04

       market_value Customer Since        M_Y fiscal_year  customer_id
307921          100         Nov-16 2017-10-01        FY18      25298.0
327510           99         Mar-17 2017-11-01        FY18      39715.0
421428           99         Dec-17 2017-12-01        FY18      83866.0
431194           99         Aug-17 2018-01-01        FY18      59587.0
432492           99         Mar-17 2018-01-01        FY18      37311.0
...             ...            ...        ...         ...          ...
516362          198         Jan-18 2018-04-01        FY18      85385.0
516363          198         Jan-18 2018-04-01        FY18      85385.0
516364          198         Jan-18 2018-04-01        FY18      85385.0
516365          198         Jan-18 2018-04-01        FY18      85385.0
549314           99         Jan-18 2018-06-01        FY18      85385.0

[84 rows x 15 columns]
        item_id          status                    sku  price  qty_ordered  \
302353   580046        canceled  MEFQMO59B0942707B79-S  100.0            1
308302   587049        canceled  MEFQMO59B0942707B79-S  100.0            1
325292   605609        canceled  MEFQMO59B0942707B79-S  100.0            1
423829   722918  order_refunded  MEFQMO59B0942707B79-S   99.0            2
432498   732578  order_refunded  MEFQMO59B0942707B79-S   99.0            1
433501   733727  order_refunded  MEFQMO59B0942707B79-S   99.0            2
433509   733736  order_refunded  MEFQMO59B0942707B79-S   99.0            2
433512   733741  order_refunded  MEFQMO59B0942707B79-S   99.0            1
436644   737199  order_refunded  MEFQMO59B0942707B79-S   99.0            1
436661   737219  order_refunded  MEFQMO59B0942707B79-S   99.0            1

        grand_total category  discount_amount payment_method working_date  \
302353        250.0       \N              0.0        Payaxis   2017-09-13
308302        350.0       \N              0.0     jazzwallet   2017-10-04
325292        245.0       \N              5.0        Payaxis   2017-11-01
423829        348.0       \N              0.0            cod   2017-12-29
432498        249.0      NaN              0.0            cod   2018-01-19
433501       1813.0      NaN              0.0            cod   2018-01-23
433509       1958.0      NaN              0.0            cod   2018-01-23
433512        159.0      NaN              0.0            cod   2018-01-23
436644        249.0      NaN              0.0            cod   2018-01-29
436661        449.0      NaN              0.0            cod   2018-01-29

       market_value Customer Since        M_Y fiscal_year  customer_id
302353          100         Sep-17 2017-09-01        FY18      60964.0
308302          100         Sep-16 2017-10-01        FY18      10256.0
325292          100         Nov-17 2017-11-01        FY18      65319.0
423829          198         Nov-17 2017-12-01        FY18      66884.0
432498           99         Jan-18 2018-01-01        FY18      85633.0
433501          198         Aug-17 2018-01-01        FY18      59587.0
433509          198         Aug-17 2018-01-01        FY18      59587.0
433512           99         Aug-17 2018-01-01        FY18      59587.0
436644           99         Aug-17 2018-01-01        FY18      59587.0
436661           99         Aug-17 2018-01-01        FY18      59587.0
        item_id    status                  sku  price  qty_ordered  \
442818   744351  complete  MATHAP5A698AF771FCD  874.3            1

        grand_total category  discount_amount payment_method working_date  \
442818       1024.3      NaN              0.0            cod   2018-02-13

       market_value Customer Since        M_Y fiscal_year  customer_id
442818          874         Feb-18 2018-02-01        FY18      87552.0
        item_id          status                  sku  price  qty_ordered  \
463987   767979  order_refunded  MEFQMO5A963699BA878  800.0            1

        grand_total category  discount_amount payment_method working_date  \
463987        950.0      NaN              0.0            cod   2018-02-28

       market_value Customer Since        M_Y fiscal_year  customer_id
463987          800         Jan-18 2018-02-01        FY18      85385.0
        item_id          status                  sku  price  qty_ordered  \
463994   767988  order_refunded  MEFQMO5A963699761E6  800.0            1

        grand_total category  discount_amount payment_method working_date  \
463994        950.0      NaN              0.0            cod   2018-02-28

       market_value Customer Since        M_Y fiscal_year  customer_id
463994          800         Jan-18 2018-02-01        FY18      85385.0

        item_id          status                    sku  price  qty_ordered  \
464019   768018  order_refunded  OTHQMO5A964AFFE94D7-L  800.0            1

        grand_total category  discount_amount payment_method working_date  \
464019        950.0      NaN              0.0            cod   2018-02-28

       market_value Customer Since        M_Y fiscal_year  customer_id
464019          800         Jan-18 2018-02-01        FY18      85385.0
        item_id          status                  sku  price  qty_ordered  \
464020   768020  order_refunded  OTHQMO5A964B0172970  800.0            1
464021   768021  order_refunded  OTHQMO5A964B0172970  800.0            2

        grand_total category  discount_amount payment_method working_date  \
464020        950.0      NaN              0.0            cod   2018-02-28
464021       1600.0      NaN              0.0            cod   2018-02-28

       market_value Customer Since        M_Y fiscal_year  customer_id
464020          800         Jan-18 2018-02-01        FY18      85385.0
464021        1,600         Jan-18 2018-02-01        FY18      85385.0
        item_id          status                  sku  price  qty_ordered  \
464050   768056  order_refunded  OTHQMO5A964B012EE33  800.0            2
464052   768058  order_refunded  OTHQMO5A964B012EE33  800.0            1

        grand_total category  discount_amount payment_method working_date  \
464050       1600.0      NaN              0.0            cod   2018-02-28
464052        950.0      NaN              0.0            cod   2018-02-28

       market_value Customer Since        M_Y fiscal_year  customer_id
464050        1,600         Jan-18 2018-02-01        FY18      85385.0
464052          800         Jan-18 2018-02-01        FY18      85385.0
        item_id          status                    sku  price  qty_ordered  \
464055   768061  order_refunded  OTHQMO5A964AFFE94D7-M  800.0            2

        grand_total category  discount_amount payment_method working_date  \
464055       1600.0      NaN              0.0            cod   2018-02-28

       market_value Customer Since        M_Y fiscal_year  customer_id
464055        1,600         Jan-18 2018-02-01        FY18      85385.0
        item_id          status                  sku   price  qty_ordered  \
496544   807902  order_refunded  BAGEMA5AA697AA2016F  1100.0            1

        grand_total category  discount_amount payment_method working_date  \
496544       1100.0      NaN              0.0            cod   2018-03-27

       market_value Customer Since        M_Y fiscal_year  customer_id
496544        1,100         Mar-18 2018-03-01        FY18     100450.0
        item_id          status                  sku  price  qty_ordered  \
420184   718825  order_refunded  OTHOTH5A2F72DBBB0C9  100.0            2
420193   718834        canceled  OTHOTH5A2F72DBBB0C9  100.0            2
422952   721912        received  OTHOTH5A2F72DBBB0C9  100.0            1
515153   828775        canceled  OTHOTH5A2F72DBBB0C9  100.0            2
515156   828778        canceled  OTHOTH5A2F72DBBB0C9  100.0            1
...         ...             ...                  ...    ...          ...
519537   833710          refund  OTHOTH5A2F72DBBB0C9  100.0            1
519538   833711          refund  OTHOTH5A2F72DBBB0C9  100.0            1
519844   834039             cod  OTHOTH5A2F72DBBB0C9  100.0            1
519849   834044             cod  OTHOTH5A2F72DBBB0C9  100.0            1
519850   834045             cod  OTHOTH5A2F72DBBB0C9  100.0            1

        grand_total category  discount_amount   payment_method working_date  \
420184        350.0       \N              0.0              cod   2017-12-19
420193        350.0       \N              0.0  easypay_voucher   2017-12-19
422952        250.0       \N              0.0              cod   2017-12-26
515153        552.0      NaN              0.0              cod   2018-04-20
515156        351.0      NaN              0.0              cod   2018-04-20
...             ...      ...              ...              ...          ...
519537        250.0      NaN              0.0              cod   2018-05-02
519538        250.0      NaN              0.0              cod   2018-05-02
519844        250.0      NaN              0.0              cod   2018-05-03
519849        250.0      NaN              0.0              cod   2018-05-03
519850        250.0      NaN              0.0              cod   2018-05-03

       market_value Customer Since        M_Y fiscal_year  customer_id
420184          200         Nov-17 2017-12-01        FY18      66884.0
420193          200         Nov-17 2017-12-01        FY18      66884.0
422952          100         Aug-17 2017-12-01        FY18      59587.0
515153          200         Jan-18 2018-04-01        FY18      85385.0
515156          100         Jan-18 2018-04-01        FY18      85385.0
...             ...            ...        ...         ...          ...
519537          100         May-18 2018-05-01        FY18     106216.0
519538          100         May-18 2018-05-01        FY18     106217.0
519844          100         May-18 2018-05-01        FY18     106217.0
519849          100         May-18 2018-05-01        FY18     106212.0
519850          100         May-18 2018-05-01        FY18     106209.0

[62 rows x 15 columns]
        item_id    status                 sku  price  qty_ordered  \
519874   834072  received  COMWD5AA8FF5851E73  314.0            1
532988   848026  canceled  COMWD5AA8FF5851E73  314.0            1
568069   886699  canceled  COMWD5AA8FF5851E73  314.0            1
580564   900744  received  COMWD5AA8FF5851E73  314.0            1

        grand_total category  discount_amount   payment_method working_date  \
519874      12730.0      NaN              0.0      bankalfalah   2018-05-03
532988        464.0      NaN              0.0          Easypay   2018-05-14
568069        464.0      NaN              0.0  easypay_voucher   2018-07-18
580564       4785.0      NaN              0.0              cod   2018-08-15

       market_value Customer Since        M_Y fiscal_year  customer_id
519874          314         May-18 2018-05-01        FY18     106285.0
532988          314         May-18 2018-05-01        FY18     108252.0
568069          314         Jul-18 2018-07-01        FY19     113144.0
580564          314         Nov-17 2018-08-01        FY19      79853.0
        item_id    status                  sku  price  qty_ordered  \
523240   837626  canceled  WOFASA5AE962ADCB1FD  850.0            1

        grand_total category  discount_amount payment_method working_date  \
523240       4038.0      NaN           1000.0    bankalfalah   2018-05-05

       market_value Customer Since        M_Y fiscal_year  customer_id
523240          850         Nov-16 2018-05-01        FY18      25289.0
        item_id    status                  sku  price  qty_ordered  \
535572   850761  received  KABASA5ABC763F62E76  506.0            1

        grand_total category  discount_amount payment_method working_date  \
535572        656.0      NaN              0.0            cod   2018-05-16

       market_value Customer Since        M_Y fiscal_year  customer_id
535572          506         May-18 2018-05-01        FY18     108622.0
        item_id    status                  sku  price  qty_ordered  \
541927   857600  received  WOFASA5AE962A6DD038  199.0            1

        grand_total category  discount_amount payment_method working_date  \
541927       1344.0      NaN              0.0            cod   2018-05-25

       market_value Customer Since        M_Y fiscal_year  customer_id
541927          199         Jul-16 2018-05-01        FY18       2237.0

### Comments:
All the Nan values in category do not associate with any specified categories, therefore will be filled with 'Not Identified".

In [15]:
df.category.fillna("Not Identified", inplace = True)
df.loc[df.category == "\\N", "category"] = "Others"

In [16]:
df.category.unique()

array(["Women's Fashion", 'Beauty & Grooming', 'Soghaat',
       'Mobiles & Tablets', 'Appliances', 'Home & Living',
       "Men's Fashion", 'Kids & Baby', 'Others', 'Entertainment',
       'Computing', 'Superstore', 'Health & Sports', 'Books',
       'School & Education', 'Not Identified'], dtype=object)

In [17]:
cat_col = df.select_dtypes('object').columns

mask = np.column_stack([df[col].str.contains(r"\\N", na=False) for col in cat_col])
df.loc[mask.any(axis=1)]

,item_id,status,sku,price,qty_ordered,grand_total,category,discount_amount,payment_method,working_date,market_value,Customer Since,M_Y,fiscal_year,customer_id
255520,526623,\N,test-product-3,3.0,2,231.0,Others,0.0,cod,2017-07-03,6,Jul-16,2017-07-01,FY18,1423.0
255521,526624,\N,test-product,75.0,1,231.0,Others,0.0,cod,2017-07-03,75,Jul-16,2017-07-01,FY18,1423.0
255624,526754,\N,test-product-3,3.0,2,231.0,Others,0.0,cod,2017-07-03,6,Jul-16,2017-07-01,FY18,1423.0
255625,526755,\N,test-product,75.0,1,231.0,Others,0.0,cod,2017-07-03,75,Jul-16,2017-07-01,FY18,1423.0

In [18]:
df.reset_index()
df

,item_id,status,sku,price,qty_ordered,grand_total,category,discount_amount,payment_method,working_date,market_value,Customer Since,M_Y,fiscal_year,customer_id
0,211131,complete,kreations_YI 06-L,1950.0,1,1950.0,Women's Fashion,0.0,cod,2016-07-01,"1,950",Jul-16,2016-07-01,FY17,1.0
1,211133,canceled,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,Beauty & Grooming,0.0,cod,2016-07-01,240,Jul-16,2016-07-01,FY17,2.0
2,211134,canceled,Ego_UP0017-999-MR0,2450.0,1,2450.0,Women's Fashion,0.0,cod,2016-07-01,"2,450",Jul-16,2016-07-01,FY17,3.0
3,211135,complete,kcc_krone deal,360.0,1,60.0,Beauty & Grooming,300.0,cod,2016-07-01,360,Jul-16,2016-07-01,FY17,4.0
4,211136,order_refunded,BK7010400AG,555.0,2,1110.0,Soghaat,0.0,cod,2016-07-01,"1,110",Jul-16,2016-07-01,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,cod,WOFSCE5AE00357AECDE,699.0,1,849.0,Women's Fashion,0.0,cod,2018-08-28,699,Aug-18,2018-08-01,FY19,115320.0
584520,905205,processing,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,Mobiles & Tablets,0.0,bankalfalah,2018-08-28,"35,599",Aug-18,2018-08-01,FY19,115326.0
584521,905206,processing,MATSAM5B6D7208C6D30,129999.0,2,652178.0,Mobiles & Tablets,0.0,bankalfalah,2018-08-28,"259,998",Jul-18,2018-08-01,FY19,113474.0
584522,905207,processing,MATSAM5B1509B4696EA,87300.0,2,652178.0,Mobiles & Tablets,0.0,bankalfalah,2018-08-28,"174,600",Jul-18,2018-08-01,FY19,113474.0
584523,905208,processing,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,Mobiles & Tablets,0.0,bankalfalah,2018-08-28,"217,280",Jul-18,2018-08-01,FY19,113474.0

In [19]:
df.payment_method.unique()

array(['cod', 'ublcreditcard', 'mygateway', 'customercredit',
       'cashatdoorstep', 'mcblite', 'internetbanking', 'marketingexpense',
       'productcredit', 'financesettlement', 'Payaxis', 'jazzvoucher',
       'jazzwallet', 'Easypay', 'Easypay_MA', 'easypay_voucher',
       'bankalfalah', 'apg'], dtype=object)

In [20]:
df.loc[df.payment_method == "cashatdoorstep", "payment_method"] = "cod"
df.loc[df.payment_method == "ublcreditcard", "payment_method"] = "creditcard"
df.loc[df.payment_method == "apg", "payment_method"] = "creditcard"
df.loc[df.payment_method == "mcblite", "payment_method"] = "internetbanking"
df.loc[df.payment_method == "bankalfalah", "payment_method"] = "internetbanking"
df.loc[df.payment_method == "Easypay", "payment_method"] = "e-wallet"
df.loc[df.payment_method == "mygateway", "payment_method"] = "e-wallet"
df.loc[df.payment_method == "jazzwallet", "payment_method"] = "e-wallet"
df.loc[df.payment_method == "Payaxis", "payment_method"] = "e-wallet"
df.loc[df.payment_method == "customercredit", "payment_method"] = "credit/vocher"
df.loc[df.payment_method == "productcredit", "payment_method"] = "credit/vocher"
df.loc[df.payment_method == "easypay_voucher", "payment_method"] = "credit/vocher"
df.loc[df.payment_method == "Easypay_MA", "payment_method"] = "credit/vocher"
df.loc[df.payment_method == "jazzvoucher", "payment_method"] = "credit/vocher"
df.loc[df.payment_method == "marketingexpense", "payment_method"] = "others"
df.loc[df.payment_method == "financesettlement", "payment_method"] = "others"

In [21]:
df.dropna(subset=['customer_id'],inplace=True)
df.customer_id=df.customer_id.astype(int)
df

,item_id,status,sku,price,qty_ordered,grand_total,category,discount_amount,payment_method,working_date,market_value,Customer Since,M_Y,fiscal_year,customer_id
0,211131,complete,kreations_YI 06-L,1950.0,1,1950.0,Women's Fashion,0.0,cod,2016-07-01,"1,950",Jul-16,2016-07-01,FY17,1
1,211133,canceled,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,Beauty & Grooming,0.0,cod,2016-07-01,240,Jul-16,2016-07-01,FY17,2
2,211134,canceled,Ego_UP0017-999-MR0,2450.0,1,2450.0,Women's Fashion,0.0,cod,2016-07-01,"2,450",Jul-16,2016-07-01,FY17,3
3,211135,complete,kcc_krone deal,360.0,1,60.0,Beauty & Grooming,300.0,cod,2016-07-01,360,Jul-16,2016-07-01,FY17,4
4,211136,order_refunded,BK7010400AG,555.0,2,1110.0,Soghaat,0.0,cod,2016-07-01,"1,110",Jul-16,2016-07-01,FY17,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,cod,WOFSCE5AE00357AECDE,699.0,1,849.0,Women's Fashion,0.0,cod,2018-08-28,699,Aug-18,2018-08-01,FY19,115320
584520,905205,processing,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"35,599",Aug-18,2018-08-01,FY19,115326
584521,905206,processing,MATSAM5B6D7208C6D30,129999.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"259,998",Jul-18,2018-08-01,FY19,113474
584522,905207,processing,MATSAM5B1509B4696EA,87300.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"174,600",Jul-18,2018-08-01,FY19,113474
584523,905208,processing,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"217,280",Jul-18,2018-08-01,FY19,113474

In [22]:
df.to_excel("dataset/Ecom_cleaned_Data.xlsx")

In [23]:
# df['working_date']=pd.to_datetime(df['working_date']).map(datetime.toordinal)
# df['customer_since']=pd.to_datetime(df['customer_since']).map(datetime.toordinal)

In [24]:
latest_date = df.working_date.max() 
print(latest_date)
# Define a lambda function to compute the weighted avg:
recency = lambda x: (latest_date - x)

2018-08-28 00:00:00

In [25]:
df

,item_id,status,sku,price,qty_ordered,grand_total,category,discount_amount,payment_method,working_date,market_value,Customer Since,M_Y,fiscal_year,customer_id
0,211131,complete,kreations_YI 06-L,1950.0,1,1950.0,Women's Fashion,0.0,cod,2016-07-01,"1,950",Jul-16,2016-07-01,FY17,1
1,211133,canceled,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,Beauty & Grooming,0.0,cod,2016-07-01,240,Jul-16,2016-07-01,FY17,2
2,211134,canceled,Ego_UP0017-999-MR0,2450.0,1,2450.0,Women's Fashion,0.0,cod,2016-07-01,"2,450",Jul-16,2016-07-01,FY17,3
3,211135,complete,kcc_krone deal,360.0,1,60.0,Beauty & Grooming,300.0,cod,2016-07-01,360,Jul-16,2016-07-01,FY17,4
4,211136,order_refunded,BK7010400AG,555.0,2,1110.0,Soghaat,0.0,cod,2016-07-01,"1,110",Jul-16,2016-07-01,FY17,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,cod,WOFSCE5AE00357AECDE,699.0,1,849.0,Women's Fashion,0.0,cod,2018-08-28,699,Aug-18,2018-08-01,FY19,115320
584520,905205,processing,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"35,599",Aug-18,2018-08-01,FY19,115326
584521,905206,processing,MATSAM5B6D7208C6D30,129999.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"259,998",Jul-18,2018-08-01,FY19,113474
584522,905207,processing,MATSAM5B1509B4696EA,87300.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"174,600",Jul-18,2018-08-01,FY19,113474
584523,905208,processing,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"217,280",Jul-18,2018-08-01,FY19,113474

In [26]:
df['last_active'] = df.groupby(['customer_id'])['working_date'].transform(max)
df

,item_id,status,sku,price,qty_ordered,grand_total,category,discount_amount,payment_method,working_date,market_value,Customer Since,M_Y,fiscal_year,customer_id,last_active
0,211131,complete,kreations_YI 06-L,1950.0,1,1950.0,Women's Fashion,0.0,cod,2016-07-01,"1,950",Jul-16,2016-07-01,FY17,1,2016-07-01
1,211133,canceled,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,Beauty & Grooming,0.0,cod,2016-07-01,240,Jul-16,2016-07-01,FY17,2,2016-11-25
2,211134,canceled,Ego_UP0017-999-MR0,2450.0,1,2450.0,Women's Fashion,0.0,cod,2016-07-01,"2,450",Jul-16,2016-07-01,FY17,3,2017-05-19
3,211135,complete,kcc_krone deal,360.0,1,60.0,Beauty & Grooming,300.0,cod,2016-07-01,360,Jul-16,2016-07-01,FY17,4,2018-08-27
4,211136,order_refunded,BK7010400AG,555.0,2,1110.0,Soghaat,0.0,cod,2016-07-01,"1,110",Jul-16,2016-07-01,FY17,5,2016-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,cod,WOFSCE5AE00357AECDE,699.0,1,849.0,Women's Fashion,0.0,cod,2018-08-28,699,Aug-18,2018-08-01,FY19,115320,2018-08-28
584520,905205,processing,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"35,599",Aug-18,2018-08-01,FY19,115326,2018-08-28
584521,905206,processing,MATSAM5B6D7208C6D30,129999.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"259,998",Jul-18,2018-08-01,FY19,113474,2018-08-28
584522,905207,processing,MATSAM5B1509B4696EA,87300.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"174,600",Jul-18,2018-08-01,FY19,113474,2018-08-28
584523,905208,processing,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"217,280",Jul-18,2018-08-01,FY19,113474,2018-08-28

In [27]:
df['num_order_placed'] = df.groupby(['customer_id'])['item_id'].transform('count')
df

,item_id,status,sku,price,qty_ordered,grand_total,category,discount_amount,payment_method,working_date,market_value,Customer Since,M_Y,fiscal_year,customer_id,last_active,num_order_placed
0,211131,complete,kreations_YI 06-L,1950.0,1,1950.0,Women's Fashion,0.0,cod,2016-07-01,"1,950",Jul-16,2016-07-01,FY17,1,2016-07-01,1
1,211133,canceled,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,Beauty & Grooming,0.0,cod,2016-07-01,240,Jul-16,2016-07-01,FY17,2,2016-11-25,2
2,211134,canceled,Ego_UP0017-999-MR0,2450.0,1,2450.0,Women's Fashion,0.0,cod,2016-07-01,"2,450",Jul-16,2016-07-01,FY17,3,2017-05-19,5
3,211135,complete,kcc_krone deal,360.0,1,60.0,Beauty & Grooming,300.0,cod,2016-07-01,360,Jul-16,2016-07-01,FY17,4,2018-08-27,428
4,211136,order_refunded,BK7010400AG,555.0,2,1110.0,Soghaat,0.0,cod,2016-07-01,"1,110",Jul-16,2016-07-01,FY17,5,2016-07-01,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,cod,WOFSCE5AE00357AECDE,699.0,1,849.0,Women's Fashion,0.0,cod,2018-08-28,699,Aug-18,2018-08-01,FY19,115320,2018-08-28,3
584520,905205,processing,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"35,599",Aug-18,2018-08-01,FY19,115326,2018-08-28,1
584521,905206,processing,MATSAM5B6D7208C6D30,129999.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"259,998",Jul-18,2018-08-01,FY19,113474,2018-08-28,46
584522,905207,processing,MATSAM5B1509B4696EA,87300.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"174,600",Jul-18,2018-08-01,FY19,113474,2018-08-28,46
584523,905208,processing,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"217,280",Jul-18,2018-08-01,FY19,113474,2018-08-28,46

In [28]:
df['num_order_completed'] = df[df.status == "complete"].groupby(['customer_id'])['item_id'].transform('count')
df
df

,item_id,status,sku,price,qty_ordered,grand_total,category,discount_amount,payment_method,working_date,market_value,Customer Since,M_Y,fiscal_year,customer_id,last_active,num_order_placed,num_order_completed
0,211131,complete,kreations_YI 06-L,1950.0,1,1950.0,Women's Fashion,0.0,cod,2016-07-01,"1,950",Jul-16,2016-07-01,FY17,1,2016-07-01,1,1.0
1,211133,canceled,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,Beauty & Grooming,0.0,cod,2016-07-01,240,Jul-16,2016-07-01,FY17,2,2016-11-25,2,NaN
2,211134,canceled,Ego_UP0017-999-MR0,2450.0,1,2450.0,Women's Fashion,0.0,cod,2016-07-01,"2,450",Jul-16,2016-07-01,FY17,3,2017-05-19,5,NaN
3,211135,complete,kcc_krone deal,360.0,1,60.0,Beauty & Grooming,300.0,cod,2016-07-01,360,Jul-16,2016-07-01,FY17,4,2018-08-27,428,254.0
4,211136,order_refunded,BK7010400AG,555.0,2,1110.0,Soghaat,0.0,cod,2016-07-01,"1,110",Jul-16,2016-07-01,FY17,5,2016-07-01,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,cod,WOFSCE5AE00357AECDE,699.0,1,849.0,Women's Fashion,0.0,cod,2018-08-28,699,Aug-18,2018-08-01,FY19,115320,2018-08-28,3,NaN
584520,905205,processing,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"35,599",Aug-18,2018-08-01,FY19,115326,2018-08-28,1,NaN
584521,905206,processing,MATSAM5B6D7208C6D30,129999.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"259,998",Jul-18,2018-08-01,FY19,113474,2018-08-28,46,NaN
584522,905207,processing,MATSAM5B1509B4696EA,87300.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"174,600",Jul-18,2018-08-01,FY19,113474,2018-08-28,46,NaN
584523,905208,processing,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,Mobiles & Tablets,0.0,internetbanking,2018-08-28,"217,280",Jul-18,2018-08-01,FY19,113474,2018-08-28,46,NaN

In [34]:
len(df[df['customer_id']==15])

41